<!DOCTYPE html>
{% extends 'merchandise/base.html' %}
{% load static %}
{% block content %}
            <div class="row">
                                <div class="col-2">
                <h2 class="featured-title">Customer Care</h2>


                <h2>Website Created and Maintained By: <em style="color: #993300; font-size: larger">Chirag Dave</em></h2> <br>
                 <h2 style="text-decoration: underline">Contact Details:</h2> <br>
                                    <h2>Phone: <em style="color: #993300; font-size: larger">9561674933</em></h2> <br>
                                    <h2>Email: <em style="color: #993300; font-size: larger">chirag.scoe@gmail.com</em></h2> <br>
                </div>
            </div>

{% endblock %}